# Install requried packages
## Each package only needs to be installed once;

In [1]:
# install.packages(c("data.table","openxlsx","readxl"))

# Load packages
## Each package needs to be called once each time you open up R;

In [2]:
library(data.table)
library(openxlsx)
library(readxl)

Warning message:
“package ‘data.table’ was built under R version 3.5.2”

# Create different data type in R
- numeric/ charactor/ logical
- vector
- data.frame/ data.table

In [3]:
class(12)
str(12)

[1] "numeric"

 num 12

In [4]:
str("haha") # or 'haha'
str(TRUE) # or T
str( as.character(12) )

 chr "haha"
 logi TRUE
 chr "12"

In [5]:
class(c(12:16)) # or class(c(12,13,14,15,16))
str(c(12:16))
str(c(12,'haha',T))
str(c(T,F,T))

[1] "integer"

 int [1:5] 12 13 14 15 16
 chr [1:3] "12" "haha" "TRUE"
 logi [1:3] TRUE FALSE TRUE

#### Assign or Print?

In [6]:
c(3:6)
v<-c(3:6) # or v=c(3:6)
v    # try print(v)
length(v)

[1] 3 4 5 6

[1] 3 4 5 6

[1] 4

In [7]:
df<-data.frame(Year=c(1992,1993,1994,1995,1996,1993,1997,1993),
            Country=c('China','China','United States','Russia','Russia','China','Russia','China'),
            Value=c(1146,2342,678,212,20,2342,NA,2342))
df

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia          NA
8 1993 China         2342

In [8]:
dt<-data.table(Year=c(1992,1993,1994,1995,1996,1993,1997,1993),
            Country=c('China','China','United States','Russia','Russia','China','Russia','China'),
            Value=c(1146,2342,678,212,20,2342,NA,2342)) 
## try dt<-as.data.table(df)
dt
class(dt)
str(dt)

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia          NA
8 1993 China         2342

[1] "data.table" "data.frame"

Classes ‘data.table’ and 'data.frame':	8 obs. of  3 variables:
 $ Year   : num  1992 1993 1994 1995 1996 ...
 $ Country: chr  "China" "China" "United States" "Russia" ...
 $ Value  : num  1146 2342 678 212 20 ...
 - attr(*, ".internal.selfref")=<externalptr>

# Data Summary
### Tip: R can support data in almost all formats 
######         Well, as long as you find the corret package :)  
### Use the above data as an example
- export & import data
- summary statistics
- get access to values in the data

In [9]:
# ?write.xlsx
write.xlsx(dt,"TestDT.xlsx",sheetName="test",colNames=T) 
# note: you can only use the relative path when you open the R script in the corresponding directory
# Otherwise, use absolute path instead, see an example below
# "/Users/Xyt/Desktop/Pardee Center/Influence Data/influence dataset 6.20.17.dta"

In [10]:
# ?read_excel
dt.test<-as.data.table(read_excel("TestDT.xlsx",sheet=NULL,n_max=Inf,col_names=TRUE,skip=0))
# default values: sheet=NULL,n_max=Inf,col_names=TRUE,skip=0
dt.test

readxl works best with a newer version of the tibble package.
You currently have tibble v1.4.2.
Falling back to column name repair from tibble <= v1.4.2.
Message displays once per session.

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia          NA
8 1993 China         2342

In [11]:
nrow(dt.test) # try ncol() to get the number of columns
head(dt.test,2)
var.name<-names(dt.test)
var.name

[1] 8

  Year Country Value
1 1992 China   1146
2 1993 China   2342

[1] "Year"    "Country" "Value"

In [12]:
table(dt.test$Country)       ## what will happen if you do table(dt.test)
summary(dt.test)
summary(dt.test$Value)
sd(dt.test$Value,na.rm=T)

        China        Russia United States
            4             3             1

      Year        Country              Value
 Min.   :1992   Length:8           Min.   :  20
 1st Qu.:1993   Class :character   1st Qu.: 445
 Median :1994   Mode  :character   Median :1146
 Mean   :1994                      Mean   :1297
 3rd Qu.:1995                      3rd Qu.:2342
 Max.   :1997                      Max.   :2342
                                   NA's   :1

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
     20     445    1146    1297    2342    2342       1

[1] 1040.031

In [13]:
dt.test[1,]  # try dt.test[,1]  dt.test[1] and dt.test[[1]]; Is there any difference? 
dt.test[3,2] ## indices can be chained together, try dt.test[3,][,2]

  Year Country Value
1 1992 China   1146

  Country
1 United States

In [14]:
dt.test[,c("Country","Value"),with=F]
## what if we switch the names? dt.test[,c("Value","Country"),with=F]
## Also try dt.test[,names(dt.test)[1:2],with=F]

  Country       Value
1 China         1146
2 China         2342
3 United States  678
4 Russia         212
5 Russia          20
6 China         2342
7 Russia          NA
8 China         2342

In [15]:
dt.test1<-data.table(dt.test)   # what would happen if you use normal assign dt.test1<-dt.test
dt.test1[,Value:=NULL]
dt.test1
# data.table does not support deleting rows by reference, so just use the index subset method introduced above

  Year Country
1 1992 China
2 1993 China
3 1994 United States
4 1995 Russia
5 1996 Russia
6 1993 China
7 1997 Russia
8 1993 China

# Data Manipulation 
- find and replace 
- missing values
- identify duplicates
#### Comparison Operations >, <, ==, >=, <=, !=
#### Logical Operations  &, |

In [16]:
dt.test[Year==1997]  # what happens if no matches found? try dt.test[Year==2000]
dt.test[Year>=1993 & Value>1000] # or dt.test[Year>=1993][Value>1000]?

  Year Country Value
1 1997 Russia  NA

  Year Country Value
1 1993 China   2342
2 1993 China   2342
3 1993 China   2342

In [17]:
dt.test2<-data.table(dt.test)
dt.test2[Value >= 1000, Value := 33333]
dt.test2

  Year Country       Value
1 1992 China         33333
2 1993 China         33333
3 1994 United States   678
4 1995 Russia          212
5 1996 Russia           20
6 1993 China         33333
7 1997 Russia           NA
8 1993 China         33333

In [18]:
dt.test3<-data.table(dt.test)
dt.test3[which(dt.test3$Value>=1000),3]<-33333  # run which(dt.test3$Value>=1000) and see the result
dt.test3

  Year Country       Value
1 1992 China         33333
2 1993 China         33333
3 1994 United States   678
4 1995 Russia          212
5 1996 Russia           20
6 1993 China         33333
7 1997 Russia           NA
8 1993 China         33333

In [19]:
dt.test4<-data.table(dt.test)
is.na(dt.test4)
# see ?na.omit for optional arguments
# default for cols are all the columns, what if we change it to c("Year","Country")
# invert=FALSE is the default
na.omit(dt.test4,invert=T)

     Year  Country Value
[1,] FALSE FALSE   FALSE
[2,] FALSE FALSE   FALSE
[3,] FALSE FALSE   FALSE
[4,] FALSE FALSE   FALSE
[5,] FALSE FALSE   FALSE
[6,] FALSE FALSE   FALSE
[7,] FALSE FALSE    TRUE
[8,] FALSE FALSE   FALSE

  Year Country Value
1 1997 Russia  NA

In [20]:
dt.test5<-data.table(dt.test)
dt.test5[is.na(Value) == T, Value := 0]     
dt.test5

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia           0
8 1993 China         2342

In [21]:
# see ?unique
unique(dt.test,by=c(1,2))

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1997 Russia          NA

In [22]:
dt.test[which(duplicated(dt.test)==F),]

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1997 Russia          NA

In [23]:
dt.test
duplicated(dt.test)
which(duplicated(dt.test)==T)
duplicated(dt.test,fromLast=T)
which(duplicated(dt.test,fromLast=T)==T)
dup<-sort(c(which(duplicated(dt.test)==T),which(duplicated(dt.test,fromLast=T)==T)))
dt.test[dup,]

  Year Country       Value
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia          NA
8 1993 China         2342

[1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE

[1] 6 8

[1] FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE

[1] 2 6

  Year Country Value
1 1993 China   2342
2 1993 China   2342
3 1993 China   2342
4 1993 China   2342

In [24]:
names(dt.test)[names(dt.test)=="Value"]<-"GDP"
dt.test

  Year Country       GDP
1 1992 China         1146
2 1993 China         2342
3 1994 United States  678
4 1995 Russia         212
5 1996 Russia          20
6 1993 China         2342
7 1997 Russia          NA
8 1993 China         2342

# To be covered next time
##### if there is a next time......
## Data Manipulation 
- Sort data
- Merge data
## Useful Tricks 
- string operations
- fuzzy match
## Loop (Maybe)

In [25]:
# see ?setorder
setorder(dt.test)
dt.test

  Year Country       GDP
1 1992 China         1146
2 1993 China         2342
3 1993 China         2342
4 1993 China         2342
5 1994 United States  678
6 1995 Russia         212
7 1996 Russia          20
8 1997 Russia          NA

In [26]:
# see ?gsub
country<-unique(dt.test$Country)
country
gsub(pattern="States",replacement="States of America",country)
gsub(pattern="i",replacement="I",country)

[1] "China"         "United States" "Russia"

[1] "China"                    "United States of America"
[3] "Russia"

[1] "ChIna"         "UnIted States" "RussIa"

In [27]:
# see ?strsplit,  note that this function returns a list 
# also see ?toString and ?paste
country2<-"China,Japan,Korea North"
strsplit(country2,",")[[1]]
toString(country)
paste(country,collapse=";")    
# Be aware of the difference between paste("China","Japan") and paste(c("China","Japan"))

[1] "China"       "Japan"       "Korea North"

[1] "China, United States, Russia"

[1] "China;United States;Russia"

In [28]:
# see ?match  and ?agrep
country3<-c("China","United States","Soviet Union","Russia","Russia Federation")
match(country,country3)
agrep("Rusia",country3,ignore.case = FALSE, value=T,max.distance=0.1)
# the most basic but hard to understand function: ?grep
# check https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf
grep("i[a-zA-Z]n",country3,value=T)
grep("in|i.n",country3,value=T)

[1] 1 2 4

[1] "Russia"            "Russia Federation"

[1] "Soviet Union"      "Russia Federation"

[1] "China"             "Soviet Union"      "Russia Federation"

In [29]:
# check ? trimws
country4<-c("China~","China~","United States","Soviet Union","Russia",
            "Russia Federation!","Côte d’Ivoire","Côte","Côte  ")
trimws(country4,which="both")
unique(grep("[^a-zA-Z\\s]",trimws(country4,which="both"),value=T,perl=T))
unique(grep("[[:graph:]]",trimws(country4,which="both"),value=T,perl=T))

[1] "China~"             "China~"             "United States"
[4] "Soviet Union"       "Russia"             "Russia Federation!"
[7] "Côte d’Ivoire"      "Côte"               "Côte"

[1] "China~"             "Russia Federation!" "Côte d’Ivoire"
[4] "Côte"

[1] "China~"             "United States"      "Soviet Union"
[4] "Russia"             "Russia Federation!" "Côte d’Ivoire"
[7] "Côte"

In [30]:
# see ?list.files
list.files()

[1] "duplicates in datatable.R" "ILOSTAT_R_IFS_Download.R"
[3] "R Tutorial 1 Pardee.ipynb" "TestDT.xlsx"